@import "tailwindcss";

@font-face {
  font-family: 'yekanbold';
  src: url('/fonts/iranyekanwebextrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekanmedium';
  src: url('/fonts/iranyekanwebbold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}